{% extends "admin/index.html" %} 
{% load i18n %}
{% load extras %}

{% block title %}Google Data Importer | {% trans "Django Admin" %}{% endblock %}
 
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/forms.css"></link>
    <link rel="stylesheet" type="text/css" href="/site_media/css/admin.css"></link>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/media/js/core.js"></script>
    <script type="text/javascript" src="/media/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/media/js/admin/CollapsedFieldsets.js"></script>
    <script type="text/javascript" src="/media/js/calendar.js"></script>
    <script type="text/javascript" src="/media/js/admin/DateTimeShortcuts.js"></script>
    <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script> 
    <script type="text/javascript" src="/site_media/js/json2.js"></script>
    <script type="text/javascript" src="/site_media/js/admin.js"></script>
{% endblock extrahead %}

{% block branding %}
    <h1>Blackrock Forest: Virtual Simulation</h1>
{% endblock %}

{% if not is_popup %}

    {% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="../">{% trans "Home" %}</a> &rsaquo; 
        <a href="../portal">{{ app|capfirst }}</a> &rsaquo;
        Import 
    </div>
    {% endblock %}

{% endif %} 

{% block content_title %}<h1>Google Data Importer</h1>{% endblock %}

{% block content %}
    {% if authsub_url %}
        <div class="module">
            <h2>Import Data</h2>
            <p><center><a href="{{authsub_url}}">Login to Google Spreadsheet Service</a></center></p>
        </div>
    {% else %}
        <form action='loaddata'>
            <fieldset class="module aligned">
                <h2>Import Data</h2>
                
                <div class="form-row">
                   <label class="required">Spreadsheets:</label>
                       
                    <select name="spreadsheet">
                    {% for s in spreadsheets %}
                        <option value="{{s}}" {% ifequal s spreadsheet %} checked {% endifequal %}>{{s}}</option>
                    {% endfor %}
                    </select>
                </div>
                
                <div class="form-row">
                   <label class="required">Delete Existing Data:</label>
                   <input type="checkbox" name="delete_existing_data" value="true" checked/>
                </div>
                
            </fieldset>
                            
            <div class="submit-row" style="height: 25px;">
                <input value="Import" class="default" name="_save" type="submit">
            </div>
        </form>
        
        {% if results %}
        {% autoescape off %}
                <h2>Results</h2>
                <table width="600px" cellspacing="2px">
                <tr><th>Model</th><th style="text-align: center">Count</th><th>Errors</th></tr>
                {% for k,v in results.items %}
                    <tr style="background-color: #eee"><td width="35%">{{k|capfirst}}</td><td style="text-align: center">{{v.count}}</td><td>{{v.errors|length}}</td></tr>
                    {% for e in v.errors %}
                        <tr><td/><td/><td/>
                        {% for name, attribute in e.attributes.items %}
                            {% ifequal name 'name' %}
                                <b>{{name|capfirst}}</b>: {{attribute|truncatewords:5}}<br />
                            {% endifequal %}
                        {% endfor %}
                        
                        {% for name, attribute in e.attributes.items %}
                            {% ifequal attribute 'Error' %}
                                <b>Field</b>: {{name|capfirst}}<br />
                            {% endifequal %}
                        {% endfor %}
                        
                        {% for m in e.error_message %}
                           <span style="color: red">{{m|capfirst}}</span>
                        {% endfor %}
                        </td></tr>
                    {% endfor %}
                    
                {% endfor %}
                </table>
        {% endautoescape %}
        {% endif %}
        
    {% endif %}
  
{% endblock %}

{% block sidebar %}{% endblock %}




